h1{
	border-width: 3px;
	<!--border-style: solid;-->
	border-color: blue;
	color: blue;
}
h2{
	border-width: 2px;
	<!--border-style: dotted;-->
	border-color: orange;
}
p{
	font-size: 24px;
	color: red;
}
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid black; //Gives the table that table look ya know? ie the black lines
	padding: 5px; //give the stuff space so it dont look shmushed in those black lines
}
button{
	border-radius: 15px; //Rounded corners
	box-shadow: 3px 3px 5px grey; //drop shadow
}
label {
	display: block; //gives it its own line
}