*{
	font-family: sans-serif;
	margin: auto;
            padding: 0;
            box-sizing: border-box;
}
h1{
	border-width: 3px;
	/*border-style: solid;*/
	border-color: blue;
	color: 	bisque;
}
h2{
	border-width: 2px;
	/*border-style: dotted;*/
	border-color: orange;
	color: pink;
}

nav{
	text-align: center;
	display: flex;
    justify-content: right;
    padding: 15px 0;
}
/*
.navbar{
	display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
	top: 0px;
	///*background: rgb(255 127 39);*(/
	background-blend-mode: darken;
	background-size: cover;
	color: white;
	padding: 10px 20px;
	
}
.navlist{
	display: flex;
    list-style: none;
	align-items: center;
}
*/
ul{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li {
	padding: 10px 15px;	
	display: inline;
	float: center;
	list-style: none;
	gap: 20px;
  
}


li a {
  /*display: block;*/
  padding: 8px;
  background-color: dark blue;
  font-size: 1.6em;
  font: OCR A Std;
}

body{
	background: 
		url("../graphics/Memo_Notepad_Eyes.png") left top/350px 
	no-repeat,
		url("../graphics/BG_Idea.png") left top/cover;
		/*border: 1px solid black;*/
		height: 80vh;
		width: 80vw;
}
/*
div{
	background: url("../graphics/Memo_Notepad_512x512.png") bottom right/150px no-repeat,
		url("../graphics/Idea-Website_Background.png") top left/cover;
		border: 1px solid black;
		height: 80vh;
		width: 80vw;
}
*/
p{
	font-size: 24px;
	color: red;
}
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid black; /*Gives the table that table look ya know? ie the black lines*/
	padding: 5px; /*give the stuff space so it dont look shmushed in those black lines*/
}
button{
	border-radius: 15px; /*Rounded corners*/
	box-shadow: 3px 3px 5px grey; /*drop shadow*/
}
label {
	display: block; /*gives it its own line*/
}
a[href]{
	color: #FFD9D4;
	font-weight: 800;
	font: OCR A Std;
}
a:hover {
	color: #f0a500;
}

a[href*="carrd"]{
	color: firebrick;
}

header:first-child{
	color: navajowhite;
	font-style: italic;
}
tr:nth-child(even){
	background-color: cornsilk;
}
input[type="checkbox"]:checked + label{
	box-shadow: 0 0 5px 1px forestgreen;
	color: seagreen;
}